{% extends "bootstrap/base.html" %}
{% block title %}wimpdb: Home{% endblock %}

{% block styles %}
{{super()}}
<link href={{ url_for('.static', filename='styles.css') }} rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.rawgit.com/corejavascript/typeahead.js/master/dist/typeahead.jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
<script src="static/scripts.js"></script>
{% endblock %}

{% block content %}
{% include 'base.html' %}
    <div class="container">
        <h1>
            wimpdb
            <small class="text-muted">search movies from the 2010s</small>
        </h1>
    </div>

    <div class="container">
        <form method="post" action={{ url_for("process_form") }}>
            <div class="form-group  ">
                <label for="start_year">start year</label>
                <select class="form-control" id="start_year" name="start_year">
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                </select>
                <br>
                <label for="end_year">end year</label>
                <select class="form-control" id="end_year" name="end_year">
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                </select>
            </div>
            <div class="form-group">
                <label for="actor">including actor/actress...</label>
                <input class="form-control" id="actor" name="actor" type="text">
                <br>
                <label for="director">directed by...</label>
                <input class="form-control" id="director" name="director" type="text">
            </div>
            <div class="form-group">
                <label for="genre_header">genres</label>
                <input type="hidden" id="genres">
                <br>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" value="action" id="action">
                    <label class="form-check-label" for="adventure">Action</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="adventure" id="adventure">
                    <label class="form-check-label" for="adventure">Adventure</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="animation" id="animation">
                    <label class="form-check-label" for="adventure">Animation</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="biography" id="biography">
                    <label class="form-check-label" for="adventure">Biography</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="comedy" id="comedy">
                    <label class="form-check-label" for="adventure">Comedy</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="crime" id="crime">
                    <label class="form-check-label" for="adventure">Crime</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="documentary" id="documentary">
                    <label class="form-check-label" for="adventure">Documentary</label>
                </div><div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" value="drama" id="drama">
                    <label class="form-check-label" for="adventure">Drama</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="family" id="family">
                    <label class="form-check-label" for="adventure">Family</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="fantasy" id="fantasy">
                    <label class="form-check-label" for="adventure">Fantasy</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="history" id="history">
                    <label class="form-check-label" for="adventure">History</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="horror" id="horror">
                    <label class="form-check-label" for="adventure">Horror</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="music" id="music">
                    <label class="form-check-label" for="adventure">Music</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="musical" id="musical">
                    <label class="form-check-label" for="adventure">Musical</label>
                </div><div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" value="mystery" id="mystery">
                    <label class="form-check-label" for="adventure">Mystery</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="romance" id="romance">
                    <label class="form-check-label" for="adventure">Romance</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="sci-fi" id="sci-fi">
                    <label class="form-check-label" for="adventure">Sci-fi</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="sport" id="sport">
                    <label class="form-check-label" for="adventure">Sport</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="thriller" id="thriller">
                    <label class="form-check-label" for="adventure">Thriller</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="war" id="war">
                    <label class="form-check-label" for="adventure">War</label>
                    <input class="form-check-input" type="checkbox" name="genres" value="western" id="western">
                    <label class="form-check-label" for="adventure">Western</label>
                </div>
            </div>
            <br>
            <div class="input submit">
            	<input type="submit" name="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </form>
    </div>

    {% block footer %}
    <footer>
        <a href="https://github.com/seankwalker/cpsc-437-project" target="_blank">wimpdb</a> is a class project for Yale's <a href="http://zoo.cs.yale.edu/classes/cs437/" target="_blank">CPSC 437 (Database Systems)</a> made by Sean Walker, Sanya Nijhawan, and Fatima Kahbi.
    </footer>
    {% endblock %}
{% endblock %}